@model IEnumerable<HRManagement.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="row" style="background-color:#095689;">
        <div class="col-md-6 mt-3">
            <h3>Employee List</h3>
        </div>
        <div class="col-md-6 mt-3">
            <p class="float-end">
                <a asp-action="Create" class="btn btn-primary">Add Employee</a>
            </p>
        </div>

    </div>
</div>


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmpName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmpId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.EmpId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
